[submodule "Flows"]
	path = Flows
	url = git://github.com/jglrxavpok/Flows.git

[submodule "SBM"]
	path = SBM
	url = git://github.com/jglrxavpok/SBM.git

[submodule "AbstractTypeInference"]
    path = AbstractTypeInference
    url = git://github.com/jglrxavpok/AbstractTypeInference.git